@tailwind base;
@tailwind components;
@tailwind utilities;

.chrome-scrollbar::-webkit-scrollbar {
  @apply w-1;
}

.chrome-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-xl bg-gray-600 dark:bg-gray-300;
}

.chrome-scrollbar::-webkit-scrollbar-track {
  @apply rounded-xl bg-gray-600/20 dark:bg-gray-300/20;
}

.dropdown-drop {
  transition:
    opacity 250ms ease-out,
    visibility 250ms ease-out;
  @apply invisible opacity-0;
}

.dropdown-wrapper:hover .dropdown-drop {
  @apply visible opacity-100;
}

.StripeElement {
  @apply cursor-text border p-3 transition-all;
}

.StripeElement.StripeElement--focus {
  @apply rounded ring-2 ring-primary-600;
}

.StripeElement.StripeElement--invalid {
  @apply rounded ring-2 ring-red-600;
}

.background-animate {
  background-size: 400%;
  animation: AnimatedBgColor 20s ease infinite;
}

@keyframes AnimatedBgColor {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
